<table>
  <tbody>
    <tr>
      <th>No. of user got news alert corresponding to shown data</th>
    </tr>
    <tr>
      <td>Total number of user: <%= email_alert_count %></td>
    </tr>
  </tbody>
</table>
