<script type="text/javascript">
  lockedNewsIds = [];
  if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1) alert('WARNING! Mozilla Firebox is not compatible for news editing purpose. Please use Chrome or Chromium.');
</script>
<% news = @news %>
<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
<%#= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin_general">
        <h1>News</h1>
        <h3><%= "Last news delivery ran at #{@last_email_delivery_at}"-%></h3>
        <%= render :partial => "layouts/search_box", :locals => { :width => 347 } %>
        <div style="text-align: center;" id="error"></div>
        <table style="width:100%">
          <tr>
            <td><h2>Companies in news</h2></td>
            <%#*<td style="text-align: right;padding-right: 27px">%>
            <%#*<a href="/admin/news/new" id="add-news">Add News</a>%>
            <%#*</td>%>
            <td style="text-align: right;padding-right: 27px">
              <a href="/admin/news/new" id="add-news" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-plusthick"></span><span class="ui-button-text">Add News</span></a>
            </td>
          </tr>
        </table>
        <table cellspacing="0" border="0" class="data-table box-table shopping-cart" id="shopping-cart-table">
          <thead>
            <tr class="first last">
              <th>Published at</th>
              <th style="width:20em">Companies</th>
              <th>Source</th>
              <th>News Type</th>
              <th>Headline</th>
              <th style="width:94px">State</th>
              <th>Edit</th>
              <th>Destroy</th>
            </tr>
          </thead>
          <tbody>
            <%= render :partial => "news", :collection => @news ,:as => :news, :locals => { :max => @news.length, :news_type_options => @news_type_options }%>
          </tbody>
        </table>
        <div style="width:80%;float:left;"><%= will_paginate news %></div>
        <a href="/admin/news/export" title="Download list of all non linksv news with ready state since last week" style="float: right;margin-right: 25px;">Export Non Linksv News</a>
      </div>
    </div>
  </div>
</div>
