<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin">
        <h1>Listing news sources</h1>
        <%= link_to 'New News Source', new_admin_news_source_path %>
        <table cellspacing="0" border="0" class="data-table box-table shopping-cart" id="shopping-cart-table">
          <thead>
            <tr class="first last">
              <th>Name</th>
              <th>Show</th>
              <th>Edit</th>
              <th>Destroy</th>
            </tr>
          </thead>
          <tbody>
            <%=  render :partial => "news_source", :collection => @news_sources ,:as => :news, :locals => {:max => @news_sources.length }%>
          </tbody>
        </table>
        <%= will_paginate @news_sources %>
      </div>
    </div>
  </div>
</div>
