<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin_general" style="padding-bottom: 150px">
        <h1>Preferences</h1>
        <%= render :partial=>'/layouts/user_news_interests',:locals=>{:form_submit_url=>admin_user_path(@user)} %>
      </div>
    </div>
  </div>
</div>

