<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin_general">
        <h1>Admin Dashboard </h1>
        <div style="width:900px;overflow:hidden;float:left">
          <div style="width:270px;float:left;overflow: auto">
            <%=render :partial => 'preferences_menu_left',:locals=>{:user_id=>@user.id}%>
          </div>
          <div style="width:630px;float:right;padding-bottom: 200px;overflow: hidden; padding-top:20px;">
            <div class="clearfix">
              <%=render :partial=>'interests_form'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>